[flake8]
ignore = D203,W503,E203

exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv

per-file-ignores =
    # imported but unused
    __init__.py: F401

max-complexity = 10
max-line-length = 150
