[MESSAGES CONTROL]

disable=
    attribute-defined-outside-init,
    consider-using-ternary,
    cyclic-import,
    import-outside-toplevel,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-self-argument,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-boolean-expressions,
    too-many-locals,
    too-many-lines,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-instance-attributes,
    too-many-return-statements,
    unsubscriptable-object,

[FORMAT]

max-line-length=150

[SIMILARITIES]

ignore-imports=yes

[TYPECHECK]
ignored-modules=duckdb
