[MESSAGES CONTROL]

disable=
    attribute-defined-outside-init,
    cyclic-import,
    import-outside-toplevel,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-self-argument,
    no-self-use,
    too-few-public-methods,
    too-many-lines,
    too-many-public-methods,
    too-many-instance-attributes,
    too-many-return-statements,
    unsubscriptable-object,

[FORMAT]

max-line-length=150
